<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
<div class="bxMsgBg">

    <div class="bxBPMsgWrap">
        <div class="bxBPMsg">
            <img src="/static/resources/ecoletree/img/img_etc.png" >
            <h1 >500 ERROR</h1>
            <h6>사용자가 많아 문제가 발생했습니다.</h6>
            <p>사용자가 많아 페이지를 표시함에 문제가 발생했습니다.<br/>
                F5를 눌러 페이지를 새로고침 하거나 메인으로 이동해주세요.<br/><br/>
                지속적으로 이 메시지가 보인다면 관리자에게 문의 부탁드립니다.</p>
            <a th:href="@{/public/home}" class="btnMain" >메인으로 이동</a>
        </div>
    </div>

</div>
</body>
</html>